
li a {
    color: green;
}

.loginDiv {
position: absolute;
left: 50%;
top: 50%;
text-align: center;
background-image: url('images/bg.jpg');
width:1000px;
height:500px;
margin-left: -500px; /*half width*/
margin-top: -250px; /*half height*/
box-shadow:0 0 10px #9ecaed;
}

input:not([type=file]){
    width:150px;
    border:1px solid #8aafbb;
    border-radius:7px;
    font-size:16px;
    padding:5px;
    margin-top-right:-10px;
}

input:not([type=file]):focus {
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
}

#custom {
    width: 60%;
}


table {
  border-collapse: collapse;
  width: 100%;
  outline:none;
  border-color:#9ecaed;
  box-shadow:0 0 10px #9ecaed;
}

th, td {
  padding: 0.25rem;
  border: 1px solid #ccc;
}


tbody, tr:nth-child(even) {background-color: #F0F8FF}
tbody, tr:nth-child(odd) {background-color: #fff}

tbody tr:hover {
  background-color: #DCDCDC
}

thead, th: {background-color: #F0F8FF}

body {
  font-family: 'Roboto','Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 50px 0px 150px;
  font-size: 16px;
  left: +20px;
}


/*footer setup*/

html, body{
height: 85%;
}

.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
.footer, .push {
height: 4em;
text-align: center;
}


/* Menu defs */

#navcontainer ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#navcontainer ul li { display: inline; }

#navcontainer ul li a
{
    text-decoration: none;
    padding: .2em 1em;
    color: #000;
    /*background-color: #9ecaed;*/

    /*outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;*/
}

#navcontainer ul li a:hover
{
     color: #FA8258;
    /*background-color: #DCDCDC;*/
}