{% load staticfiles %}
<html>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<head>
  <title>Mass spectrometry Toolbox</title>

</head>
<body>
<div class="loginDiv">
  <center><h3>Mass Spectropmetry Toolbox</h3></center>
        <span>
        <form id="login_form" method="post" action="" align="center">
            {% csrf_token %}
                  <input type="text" name="username" value="" id="username" placeholder="Username">
                  <input type="password" name="password" value="" id="password" placeholder="Password">
                  <input type="submit" value="Login">
                  <input type="hidden" name="next.html" value="/">
        </form>
        </span>
</div>
</body>
</html>

