{% extends "main/base.html" %}

{% block content %}
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>

   	<!-- List all projects of the logged in user -->
	{% if Project_List %}
		<ul>
            <table id='custom'>
                <th>Project name</th>
            {% for p in Project_List %}
                <tr>
                        <td align="left">{{ p.Project_Name }}</td>
                </tr>
            {% endfor %}
            </table>
		</ul>
	{% else %}
		<p>No projects for user: {{ user.first_name }} {{ user.last_name }}. </br>You can create a new project by choosing a name in the textbox above and Save your entry.</p>
	{% endif %}
{% endblock content %}