{% extends "main/base.html" %}

{% block content %}
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>

   	<!-- List all projects of the logged in user -->
	{% if Settings_List %}
		<ul>
            <table>
                <th>Setting name</th>
                <th>m/z</th>
            {% for s in Settings_List %}
                <tr>
                        <td align="left">{{ s.Settings_Name }}</td>
                        <td align="left">{{ s.Mass_Over_Charge }}</td>
                </tr>
            {% endfor %}
            </table>
		</ul>
	{% else %}
		<p>No settings found for user: {{ user.first_name }} {{ user.last_name }}. </br>You can create a new setting by choosing a name in the textbox above and Save your entry.</p>
	{% endif %}
{% endblock content %}