{% extends "main/base.html" %}

{% block content %}
   	<!-- List all projects of the logged in user -->
	{% if Project_List %}
		<ul>
            <table id='custom'>
                <th>Description</th>
                <th>Project details</th>
            {% for p in Project_List %}
                <tr>
                        <td align="left">Name</td>
                        <td align="left">{{ p.Project_Name }}</td>
                <tr>
                <tr>
                        <td align="left">Setting</td>
                        {% if p.Setting_ID.pk %} <!--if p.Setting_ID.pk  is 0 or NULL add link to add new setting to the project -->
                            <!-- Access the Settings_Name field from the Project_Settings model (table) through the Foreinkey (Setting_ID) element-->
                            <td align="left"><a href="/setting/{{ p.Setting_ID.pk }}" title="Click for more details about this setting">{{ p.Setting_ID.Settings_Name }}</a></td>
                        {% else %}
                            <td align="left">No setting found! <a href='/settings' title="Click to add a setting to this project">Add setting</a></td>
                        {% endif %}
                </tr>
                <tr>
                        <td align="left">Test</td>
                        {% if p.Test_ID.pk %}<!--if Test_ID is 0 or NULL add link to add new test to the project -->
                            <td align="left">{{ p.Test_ID }}</td>
                        {% else %}
                            <td align="left">No test found! <a href='/test' title="Click to add a test to this project">Add Test</a></td>
                        {% endif %}
                </tr>
                <tr>
                        <td align="left">Results</td>
                        <td align="left">Results link will go here</td>
                </tr>
                <tr>
                        <td align="left">Action</td>
                        <td align="left"><a href="/project_delete/{{ p.pk }}" title="Click to delete the project.">Delete project</a></td>
                </tr>
            {% endfor %}
            </table>
		</ul>
	{% else %}
		<p>
            There were no projects found for user: {{ user.first_name }} {{ user.last_name }}.
            </br> Click <a href="/new_project">here</a> or on the "NEW PROJECT menu if you want to create a new project.
        </p>
	{% endif %}

{% endblock content %}