{% extends "main/base.html" %}

{% block content %}
   	<!-- List all projects of the logged in user -->
	{% if Project_List %}
		<ul>
            <table>
                <th>Project name</th>
            {% for p in Project_List %}
                <tr>
                        <td align="left">{{ p.Project_Name }}</td>
                </tr>
            {% endfor %}
            </table>
		</ul>
	{% else %}
		<p>
            There were no projects found for user: {{ user.first_name }} {{ user.last_name }}.
            </br> Click <a href="/new_project">here</a> or on the "NEW PROJECT menu if you want to create a new project.
        </p>
	{% endif %}
{% endblock content %}