{% extends "main/base.html" %}

{% block content %}
	<!-- Eventually this will have to be crossed so it only shows User specific settings -->
	{% if Settings_List %}
		<ul>
		<table id='custom'>
			<th align="left">Setting Name</th>
			<th>m/z</th>
		{% for s in Settings_List %}
			<tr>
					<!--<td align="center">{{ user.pk }}</td> <!-- pk - primary key -->
					<td align="left"><a href="/setting/{{ s.pk }}" title="Click for more details about this setting">{{ s.Settings_Name }}</a></td>
					<td align="left">{{ s.Mass_Over_Charge }}</td> <!-- The details would be links filtered based on setting ID -->
			</tr>
		{% endfor %}
		</table>
		</ul>
	{% else %}
		<p>You have no settings set up yet.</p>
	{% endif %}

		<!--Pagination-->
	<center>
    	<div class="pagination">
            <span class="step-links">
                {% if Settings_List.has_previous %}
                    <a href="?page={{ Settings_List.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ Settings_List.number }} of {{ Settings_List.paginator.num_pages }}.
                </span>

                {% if Settings_List.has_next %}
                    <a href="?page={{ Settings_List.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    <center>
{% endblock content %}
