{% extends "main/base.html" %}

{% block content %}
	<!-- Eventually this will have to be crossed so it only shows User specific settings -->
	{% if settings_html_var %}
		<ul>
		<table>
			<th>User ID</th>
			<th>Type</th>
			<th align="left">Setting Name</th>
			<th>Details</th>
		{% for s in settings_html_var %}
			<tr>
					<td align="center">{{ user.pk }}</td> <!-- pk - primary key -->
					<td align="center">MS/MS</td>
					<td align="left">{{ s.Settings_Name }}</td>
					<td align="left">Details</td> <!-- The details would be links filtered based on setting ID -->
			</tr>
		{% endfor %}
		</table>
		</ul>
	{% else %}
		<p>You have no settings set up yet.</p>
	{% endif %}
{% endblock content %}
