{% extends "main/base.html" %}
{% block content %}

   	<!-- List all settings of the logged in user -->
	{% if Settings_List %}
		<ul>
            <table id='custom'>
                <th>Setting name</th>
                <th>m/z</th>
                <th>Dilution series files</th>
                <th>Action</th>
            {% for s in Settings_List %}
                <tr>
                        <td align="left">{{ s.Settings_Name }}</td>
                        <td align="left">{{ s.Mass_Over_Charge }}</td>
                        <!--Do some loading and load the file names/standard curve link based on Setting ID-->
                        {% if Setting_ID %} <!--if Setting_ID is 0 or NULL add link to add new setting to the project -->
                            <td align="left">{{ p.Setting_ID }}</td>
                        {% else %}
                            <td><a href='/upload_setting_files/{{ s.pk }}'>Upload files</a></td>
                        {% endif %}
                        <td><a href="/setting_delete/{{ s.pk }}">Delete setting</a></td>
                </tr>
            {% endfor %}
            </table>
		</ul>
	<!--Load all documents assoaciated with this setting ID-->
	    {% if documents %}
    		<ul>
    		<h4><left>Uploaded setting files</left></h4>
    		<table id="custom">
    			<!-- <th>User ID</th> -->
    			<!-- <th>Type</th> -->
    			<th align="left">Uploaded setting files</th>
    			<th align="center">Analyte conc.</th>
    		{% for document in documents %}
    			<tr>
    					<!--<td align="center">{{ user.pk }}</td> <!-- pk - primary key -->
    					<!--<td align="center">{{ document.Setting_ID.pk }}</td> -->
    					<!--<td align="left">{{ document.docfile }}</td> -->
    					<td align="left"><a href="{{ document.docfile.url }} " title="Click to add show details about this setting file">{{ document.file_name }}</a></td>
    					<td>{{ document.Concentration }}</td>
    			</tr>
            {% endfor %}
    		</table>
    		</ul>
    		<!--This is where we could display the data with the existing chromatograms-->
                <!-- Use this graph  to show typical chromatograms Retention time/Intensity grahs -->
                <script type="text/javascript" src="https://www.google.com/jsapi"></script>
                <script type="text/javascript">
                google.load('visualization', '1', {packages: ['corechart', 'bar']});
                google.setOnLoadCallback(drawChart);

                function drawChart() {
                      var data = google.visualization.arrayToDataTable({{ chromatogram | safe }});

                      var options =
                        {
                            title: 'Base peak chromatogram for m/z ' + {{ setting_ion | safe }},
                            chartArea: {width: '50%'},
                            hAxis: {title: 'Time (min)', minValue: 0,},
                            vAxis: {title: 'Relative intensity (%)', minValue: 0,}
                        };
                      var chart = new google.visualization.LineChart(document.getElementById('chromatogram_div'));
                      chart.draw(data, options);
                    }
                </script>
                <div class="graph-left-center" div id="chromatogram_div" style="height: 350px; width: 800px"></div>
    	{% else %}
    		<p>No setting files found!</p>
    	{% endif %}

	{% else %}
		<p>
            There were no projects found for user: {{ user.first_name }} {{ user.last_name }}.
            </br> Click <a href="/new_project">here</a> or on the "NEW PROJECT menu if you want to create a new project.
        </p>
    {% endif %}
{% endblock content %}

