
{% extends "main/base.html" %}

{% block content %}
	  <center>
    	<!-- List of uploaded documents -->
    	{% if documents %}
    		<ul>
    		<table id="custom">
    			<!-- <th>User ID</th> -->
    			<!-- <th>Type</th> -->
    			<th align="left">Name</th>
    			<th>Analyte conc.</th>
    		{% for document in documents %}
    			<tr>
    					<!--<td align="center">{{ user.pk }}</td> <!-- pk - primary key -->
    					<!--<td align="center">{{ document.Setting_ID.pk }}</td> -->
    					<!--<td align="left">{{ document.docfile.name }}</td> This is the path-->
    					<td align="left">{{ document.docfile }}</td>
    					<!--<td align="center">{{ document.docfile.date }}</td> -->
    					<!--<td align="center"><a href="{{ document.docfile.url }}">Load</a></td>-->
    					<td>{{ document.Concentration }}</td>
    			</tr>
    		{% endfor %}
    		</table>
    		</ul>
    	{% else %}
    		<p>No documents.</p>
    	{% endif %}

		<!-- Upload form. Note enctype attribute!  -->
		<form  action ="" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
			<p>
                Concentration: {{ form.Concentration }}
				{{ form.docfile.errors }}
				{{ form.docfile }}
			</p>
			<p><input type="submit" value="Upload & Save" /></p>
		</form>
	  </center>
{% endblock content %}
